<launch>
    <arg name="robot_name" value="/pioneer3dx"/>    

    <group ns="$(arg robot_name)">
        <node name="gmapping" pkg="gmapping" type="slam_gmapping">
            <remap from="scan" to="$(arg robot_name)/scan"/>
            <param name="odom_frame" value="/base_link" />
            <param name="linearUpdate" type="double" value="0.2"/>
            <param name="angularUpdate" type="double" value="0.1"/>
            <param name="map_update_interval" type="double" value="1.0" />
            <param name="particles" type="int" value="100" />
        </node>
        <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" >
            <remap from="image" to="/camera/depth/image_raw1" />
            <param name="output_frame_id" value="/pioneer3dx/front_camera" />
        </node>
    </group>    
</launch>