<launch>
<arg name="robot_name" value="/pioneer3dx"/>    

<group ns="$(arg robot_name)">
    <!--<node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" >
        <remap from="image" to="/camera/depth/image_raw1" />
        <remap from="scan" to="$(arg robot_name)/depth_camera_scan" />
        <param name="output_frame_id" value="/pioneer3dx/front_camera" />
        <param name="scan_height" value="200" />
        <param name="range_max" value="1.5" />
        <param name="range_min" value="0.2" />
    </node>-->

    <node name="gmapping" pkg="gmapping" type="slam_gmapping">
            <remap from="scan" to="$(arg robot_name)/front_laser/scan"/>
            <remap from="map" to="$(arg robot_name)/map" />
            <param name="odom_frame" value="base_link" />
            <param name="base_frame" value="$(arg robot_name)/base_link" />
            <param name="map_frame" value="$(arg robot_name)/map"/>
            <param name="linearUpdate" type="double" value="0.2"/>
            <param name="angularUpdate" type="double" value="0.1"/>
            <param name="map_update_interval" type="double" value="1.0" />
            <param name="particles" type="int" value="100" />
            <param name="delta" value="0.02" />
            <param name="xmin" value="-10.0" />
            <param name="ymin" value="-10.0" />
            <param name="xmin" value="10.0" />
            <param name="ymin" value="10.0" />

    </node>
</group>
<node pkg="amcl" type="amcl" name="amcl" output="screen">
  <remap from="scan" to="$(arg robot_name)/front_laser/scan" />
  <remap from="map" to="$(arg robot_name)/map" />
  <!-- Publish scans from best pose at a max of 10 Hz -->
  <param name="odom_model_type" value="diff"/>
  <param name="odom_alpha5" value="0.1"/>
  <param name="transform_tolerance" value="0.2" />
  <param name="gui_publish_rate" value="10.0"/>
  <param name="laser_max_beams" value="30"/>
  <param name="min_particles" value="500"/>
  <param name="max_particles" value="5000"/>
  <param name="kld_err" value="0.05"/>
  <param name="kld_z" value="0.99"/>
  <param name="odom_alpha1" value="0.2"/>
  <param name="odom_alpha2" value="0.2"/>
  <!-- translation std dev, m -->
  <param name="odom_alpha3" value="0.8"/>
  <param name="odom_alpha4" value="0.2"/>
  <param name="laser_z_hit" value="0.5"/>
  <param name="laser_z_short" value="0.05"/>
  <param name="laser_z_max" value="0.05"/>
  <param name="laser_z_rand" value="0.5"/>
  <param name="laser_sigma_hit" value="0.2"/>
  <param name="laser_lambda_short" value="0.1"/>
  <param name="laser_lambda_short" value="0.1"/>
  <param name="laser_model_type" value="likelihood_field"/>
  <param name="initial_pose_a" value="1.570796"/>
  <!-- <param name="laser_model_type" value="beam"/> -->
  <param name="laser_likelihood_max_dist" value="2.0"/>
  <param name="update_min_d" value="0.2"/>
  <param name="update_min_a" value="0.5"/>
  <param name="use_map_topic" value="true"/>
  <param name="odom_frame_id" value="$(arg robot_name)/odom"/>
  <param name="global_frame_id" value="pioneer3dx/map"/>
  <param name="base_frame_id" value="$(arg robot_name)/base_link"/>
  <param name="resample_interval" value="1"/>
  <param name="transform_tolerance" value="0.1"/>
  <param name="recovery_alpha_slow" value="0.0"/>
  <param name="recovery_alpha_fast" value="0.0"/>
</node>
<node pkg="move_base" 
    type="move_base" 
    respawn="false" 
    name="move_base" 
    output="screen">

    <remap from="cmd_vel" to="$(arg robot_name)/cmd_vel"/>
    <param name="controller_frequency" value="10.0" />
    <rosparam file="$(find pioneer)/configs/costmap_common_params.yaml" 
        command="load" 
        ns="global_costmap" /> 
    <rosparam file="$(find pioneer)/configs/costmap_common_params.yaml" 
        command="load" 
        ns="local_costmap" /> 
    <rosparam file="$(find pioneer)/configs/local_costmap_params.yaml" 
        command="load" /> 
    <rosparam file="$(find pioneer)/configs/global_costmap_params.yaml" 
        command="load" /> 
    <rosparam file="$(find pioneer)/configs/base_local_planner_params.yaml" 
        command="load" />

</node>

</launch>